/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/


/*font-family: 'Merriweather', serif;*/


/*font-family: 'Roboto', sans-serif;*/

body {
  background-color: #F2F1E8;
  margin: 0px;
  padding: 0px;
  color: #131511;
}

h1, h3 {
  display: flex;
  justify-content: center;
  font-family: Merriweather;
  padding: 10px;
  margin: 0px;
}

h1 {
  font-size: 350%;
  font-weight: 400;
  margin-top: 40px;
}

h3 {
  font-size: 200%;
  font-weight: lighter;
  padding: 10px;
}

h4 span {
  background-color: #2B2F26;
  font-family: Merriweather;
  font-weight: lighter;
  font-size: 120%;
  padding: 10px;
  color: white;
}

.products {
  margin: 50px;
  padding: 5px;

}
.parent1 {
  display: flex;
  justify-content: flex-start;
}
.parent2 {
  display: flex;
}
.stacking {
  /*position: absolute;*/
}

.stackingtext {
  /*position: absolute;*/
}

img {
  /*display: block;*/
}

#main-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.anchor {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  max-height: 40px;
  padding: 10px;
  margin: 0;
}

.wide {
  width: 600px;
  height: 300px;
  padding: 5px;
  /*position: absolute;*/
}

.tall {
  width: 200px;
  height: 300px;
  padding: 5px
}

.square {
  height: 200px;
  width: 200px;
  padding: 5px;
  object-fit: cover;
  clip: rect(0px, 60px, 200px, 0px);
}

.rect {
  width: 400px;
  height: 200px;
  padding: 5px;
}

a {
  font-family: Roboto;
  color: #2B2F26;
  text-transform: uppercase;
}

a:hover {
  color: #CD5D67;
}

.wrapper {
  width: 100%;
  margin: 0;
  background-color: #FFFFFF;
}

.birdhouse {
  float: left;
  max-width: 100px;
}

blockquote {
  font-style: italic;
}

.plant {
  width: 1300px;
  height: 800px;
}

.pots {
  float: right;
  max-width: 100px;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

.newsletter {
  font-family: Merriweather;
  font-weight: lighter;
  background-color: #FFFFFF;
  margin: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  border: none;
  border-bottom: 1px solid #968772;
  padding: 10px;
  width: 400px;
}

.input:focus {
  border: none border-bottom: 1px solid #967343;
}

.button {
  background-color: #968772;
  color: #F2F1E8;
  padding: 10px;
}

.button:hover {
  background-color: #967343;
  color: white;
}
